/* Space out content a bit */
body {
    // padding-top: 60px;
    padding-bottom: 20px;
    ul {         
         padding:0 0 0 0;
	     margin:0 0 0 0;
    }
	ul li {     
	    list-style:none;
	    margin-bottom:25px;           
	}
    ul li img {
        cursor: pointer;
    }
}

/* some nice centered entries */
.entry-home {
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;

    i {
        padding-left: 10px;
    }
}

.search_container {
	text-align: center;
}
